.contenido-nosotros{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-columns: repeat( auto-fit, minmax( 24rem, 1fr ) );
    column-gap: 4rem;
    align-items: flex-start;
}
.contenido-nosotros p{
    margin: 0;
    padding: 1rem;
}

@media (min-width: 768px){
    .contenido-nosotros p{
        margin: 0;
        padding: 0;
    }
}
